{% extends 'base.html' %}

{% block body %}

<div class="container">
    <center><h2> Account List </h2></center>
  <table class="table">
        <thead>
            <tr>
                <th scope="col">Sr. No</th>
                <th scope="col">Type</th>
                <th scope="col">Number</th>
                <th scope="col">User</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
                <th scope="col">Balance</th>
            </tr>
        </thead>
        <tbody>
            {%  for i in account %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{i.type}}</td>
            <td>{{i.account_number}}</td>
            <td>{{i.user}}</td>
            <td >
              <form action={% url "account_update" pk=i.id %}>
                <button type="submit" class="btn btn-outline-success btn-sm">Update</button>
              </form>
            </td>
            <td>
              <form action={% url "account_delete" pk=i.id %}>
                <button type="submit" class="btn btn-outline-success btn-sm">Delete</button>
              </form>
            </td>
            <td>
              <form action={% url "account_details" pk=i.id %}>
                <button type="submit" class="btn btn-outline-success btn-sm">Balance</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="create">
        <form action={% url "account_create" %} method="get">
        <button type="submit" class="btn btn-outline-success">Add Account</button>
        </form>
      </div>
</div>

{% endblock%}